<ion-view view-title="Create Event" name="eventcreate" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive">1</span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bar bar-event bar-header align-delete-bar">
        <iion-item class="row">
            <div class="row">
                <div class="col-10" ng-click="myGoBack()">
                    <button class="button-clear">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div class="col-80 margin-top-5">
                    <span class="inner-header">New Event</span>
                </div>
                <div class="col-10">
                    <a><i class="icon ion-android-send align-delete-bin"></i></a>
                </div>
            </div>
        </iion-item>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="margin-top-48 padding-l-r-5">
        <div class="list">
            <div class="row item">
                <div class="col-20 padding-top-10 date-bg"><h2 class="margin-left-2">Date:</h2></div>
                <input class="item-input col-80" type="date" ng-model="selectedDate">
            </div>
            <div class="row">
                <div class="col-50 border-bottom border-right">
                    <select class="item item-input item-select">
                        <option selected class="padding-top-5">User</option>
                        <option class="padding-top-5">Teacher</option>
                        <option class="padding-top-5">Parent</option>
                        <option class="padding-top-5">Parent & Teacher</option>
                        <option class="padding-top-5">Admin</option>
                        <option class="padding-top-5">Admin & Teacher</option>
                        <option class="padding-top-5">All</option>
                    </select>
                </div>
                <div class="col-50 border-bottom">
                    <select class="item item-input item-select border-bottom">
                        <option selected class="padding-top-5">Batch</option>
                        <option class="padding-top-5">Morning</option>
                        <option class="padding-top-5">Afternoon</option>
                        <option class="padding-top-5">Evening</option>
                    </select>
                </div>

            </div>
            <div class="row">
                <div class="col-50 border-right">
                    <select class="item item-input item-select border-bottom">
                        <option selected class="padding-top-5">Class</option>
                        <option class="padding-top-5">Class I</option>
                        <option class="padding-top-5">Class II</option>
                        <option class="padding-top-5">Class III</option>
                    </select>
                </div>
                <div class="col-50 border-bottom">
                    <select class="item item-input item-select">
                        <option selected class="padding-top-5">Div</option>
                        <option class="padding-top-5">Div A</option>
                        <option class="padding-top-5">Div B</option>
                        <option class="padding-top-5">Div C</option>
                    </select>
                </div>
            </div>
            <div class="row item">
                <div class="col-33 padding-top-10 date-bg"><h2 class="margin-left-2">Upload Image:</h2></div>
                <input class="item-input col-67" type="file">
            </div>
            <label class="item item-input border-bottom">
                <input type="text" placeholder="Title">
            </label>
            <label class="item item-input">
                <textarea placeholder="Description"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>