<ion-view view-title="Organisation Name" class="touch-effect">
    <div class="row">
        <div class="col-90 col-offset-r-10 bar-header">
            <img class="title-image float-left" src="img/school-logo.png"/>
            <h1 class="header-title">Ganesh English Medium School</h1>
        </div>
    </div>
    <div ng-show='{{loading}}' style="background-color:black;height:50px;">

    </div>
    <div class="row">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-navicon slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-7" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-7 active">
                    <i class="icon ion-homie-select"></i>
                </a>
                <a class="tab-item margin-top-7" ng-click="viewMessagesList()">
                    <i class="icon ion-message"><span class="badge badge-assertive">{{msgCount}}</span></i>
                </a>
            </div>
    </div>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="home-dashboard animate-fade-slide-in-right margin-bottom-10">
                <div class="row">
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/1_announcement_shadow.png" ui-sref="app.sharedNotification"/></div>
                        <span class="full-width dashboard-text">Notice Board</span>
                    </div>
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/2_homework_shadow.png" ng-click="homeworkView()"/></div>
                        <span class="full-width dashboard-text">Homework</span>
                    </div>
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/3_attendance_shadow.png" ng-click="attendanceLanding()"/></div>
                        <span class="full-width dashboard-text">Attendance</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/4_events_shadow.png" ng-click="eventlanding()"/></div>
                        <span class="full-width dashboard-text">Events</span>
                    </div>
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/5_results_shadow.png" ui-sref="app.resultview"/></div>
                        <span class="full-width dashboard-text">Results</span>
                    </div>
                    <div class="col-33">

                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/6_fees_shadow.png" ng-click="feelanding()"/></div>

                        <span class="full-width dashboard-text">Fees</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/timetable.png" ui-sref="app.timetable"/></div>
                        <span class="full-width dashboard-text">Time Table</span>
                    </div>
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/6_history_shadow.png"/></div>
                        <span class="full-width dashboard-text">Student History</span>
                    </div>
                    <div class="col-33">
                        <div class="full-width padding-bottom-text"><img class="dashboard-icon" src="img/7_about_shadow.png"/></div>
                        <span class="full-width dashboard-text">About</span>
                    </div>
                </div>
            </div>
    </ion-content>
    <div class="bar bar-footer footer-bottom">
            <div class="footer-title">Powered by Veza</div>
        </div>
</ion-view>
