<ion-view view-title="Event" name="event" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
        </div>
    </div>

    <div class="bar bar-event bar-header align-delete-bar">
        <div class="row">
            <div class="row">
                <div style="width:33%">
                    <button class="button-clear" ng-click="myGoBack()">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div style="width:33%">
                    <span class="inner-header">Events</span>

                </div>
                <button ng-click="openModal()">Select Year</button>


            </div>
        </div>
    </div>

    <ion-content style="margin-top:40px">
        <div>
            <div>


                <ion-list>
                  <ion-item class="notify-item-border" ng-repeat="event in eventList" >
                    <a class="item" ng-click="getDetailsOfEvent(event.id)">
                      <h2><strong>{{event.title}}</strong></h2>
                      <span class="eventHeaderFontSize"><strong>On </strong> {{event.startdate}}</span>
                      <span class="pull-right" ng-if="event.status == 'Published'">
                        <button  class="button button-balanced status-button" ng-disabled="clickStatus" >
                              {{event.status}}
                        </button>
                      </span>

                      <span class="pull-right" ng-if="event.status == 'Pending'">
                        <button  class="button button-assertive status-button" ng-disabled="clickStatus" >
                              {{event.status}}
                        </button>
                      </span>

                      <span class="pull-right" ng-if="event.status == 'Draft'">
                        <button  class="button button-energized status-button" ng-disabled="clickStatus" >
                              {{event.status}}
                        </button>
                      </span>
                    </a>
                 </ion-item>
                </ion-list>

            </div>




    </ion-content>
    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view style="margin-bottom:50%;background-color:#caccce; width:30%;margin-left:70%;margin-top:100px;">
            <ion-header-bar bar bar-stable>
                <select class="eventYear" id="eventYear" ng-model="selectedYear" ng-options="yearMonth.year as yearMonth.year for yearMonth in yearMonthData" ng-change="setMonth(selectedYear)" style="width:50%">
                          <option value="" >Select Year</option>
                 </select>
                 <button ng-click="closeModal()"><i class="ion-close-round"></i></button>
            </ion-header-bar>
                <ion-content>

                     <div class="row margin-top-2" ng-repeat="(key, value) in monthList">
                        <button  class="button button-positive month-button" ng-disabled="clickStatus" ng-click="eventByMonth({{key}})">
                          {{value}}
                        </button>
                     <div>

                </ion-content>
         </ion-modal-view>
       </script>

    </ion-view>
