<ion-view view-title="Event" name="event" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
        </div>
    </div>
    <ion-content overflow-scroll="false" padding="true">





           <div ng-show="clickOn=='con1'" style="height:100%;width:100%">
              <h4 style="float:left">Please select your desired class to view fee structure : </h4>


               <select name="Batch" style="height:40px;float:left;width:40%">

                   <option value="double chocolate">Batch</option>
                   <option value="vanilla">Vanilla</option>
                   <option value="strawberry">Strawberry</option>
                   <option value="caramel">Caramel</option>
               </select>

                 &nbsp




               <select  style="height:40px;width:40%">

                   <option value="double chocolate"> Class </option>
                   <option value="vanilla">Vanilla</option>
                   <option value="strawberry">Strawberry</option>
                   <option value="caramel">Caramel</option>
               </select>



             <br><br>
             <div>
            <div style="overflow:scroll;overflow-x: hidden;"">
             <div class="card" style="overflow:scroll;overflow-x: hidden;height:200px;background-color:grey:"><table>

                       <h3 style="height:30px;padding:8px;">Concession</h3>
                       <div style="background-color:black;height:3px;width:100%"></div>
                       <tr>
                       <td>NT</td>
                       <td>1500</td>
                       <td>4%</td>
                       </tr>
                       <tr>
                       <td>SC</td>
                       <td>1000</td>
                       <td>15%</td>
                       </tr>
                       <tr>
                       <td>O.B.C.</td>
                       <td>700</td>
                       <td>5%</td>
                       </tr>


             </table>
           </div>
            <br>
             <div class="card" style="overflow:scroll;overflow-x: hidden;height:200px"><table>

                         <h3 style="height:30px;padding:8px;">Installment Structure</h3>
                          <div style="background-color:black;height:3px;width:100%"></div>
                        <tr>
                       <td>1</td>
                       <td>10,000</td>
                       <td>33.33%</td>
                       </tr>
                       <tr>
                       <td>2</td>
                       <td>10,000</td>
                       <td>33.33%</td>
                       </tr>

                       <td>3</td>
                       <td>10,000</td>
                       <td>33.33%</td>
                       </tr>
             </table></div>




           <div class=" card" style="background-color:#3afc7a;padding:8px;height:50px;">
                   <h3>Total Fee</h3>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <h3>8000 INR</h3>
           </div>
           </div>
           </div>
         </div>

           <div ng-show="clickOn=='con2'" style="height:100%;width:100%;">

                <div style="float:left;">
                   <div class="speech1"><h4>Current Year Fee</h4>
                     <h5> 50,000 INR</h5></div>

                </div>
                      <div style="float:right;" class="css_blink">
                            <div class="speech"><h4>Due Fee</h4>

                                 <h5> 10,000 INR</h5>
                             </div>

                      </div>


                <br>
                <div >
               <div class="list" >
                       <div class="item" >
                            <div class="card" style="height:100px;">
                              <h2 style="float:left">Installment No:01</h2>
                              <br><br>
                              <h4 style="float:left">Voucher/NEFT No: A201</h4>
                              <br>
                              <h4 style="float:left">Date :12-01-2017</h4>

                            </div>
                       </div>
                       <div class="item" >
                            <div class="card" style="height:100px;">
                              <h2 style="float:left">Installment No:02</h2>
                              <br><br>
                              <h4 style="float:left">Voucher/NEFT No: B301</h4>
                               <br>
                              <h4 style="float:left">Date :12-03-2017</h4>

                            </div>
                       </div>
                       <div class="item" >
                            <div class="card" style="height:100px;">

                            <h2 style="float:left">Installment No:03</h2>
                            <br>
                            <br>
                            <h4 style="float:left">Voucher/NEFT No: C201</h4>
                             <br>
                            <h4 style="float:left">Date :12-04-2017</h4>
                            </div>
                       </div>

               </div>
                      </div>
                    </div>

       </div>

    </ion-content>
    <ion-footer-bar align-title="center" style="border-top:2px solid grey">


      <div class="" ng-click="showCon('con1')" style="height:60px;width:{{abc}};text-decoration:{{color}};color:#04a021;font-weight: {{bold1}};font-size:100%;text-align:center;border-right:1px solid grey;padding:6px">View Fee Structure</div>
      <div class="" ng-click="showCon('con2')" style="height:60px;width:50%;text-decoration:{{color1}};color:#04a021;font-weight: {{bold2}};font-size:100%;text-align:center;padding:6px" ng-show="show=='show'">My Fee</div>
    </ion-footer-bar>





</ion-view>
