<ion-view view-title="Detail View" name="detailspage" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10">
                    <i class="icon ion-message"><span class="badge badge-assertive">1</span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bar bar-pink bar-header align-delete-bar">
        <iion-item class="row">
            <div class="row">
                <div class="col-10"  ng-click="myGoBack()">
                    <button class="button-clear">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div class="col-75 margin-top-5">
                    <span class="inner-header"></span>
                </div>
                <div class="col-15"><a><i class="icon ion-trash-b align-delete-bin"></i></a></div>
            </div>
        </iion-item>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="margin-top-48 padding-l-r-5">
        <div class="list padding-l-r-5">
            <div class="row bold description-title-font">Science Chapter 4 and 5 Exercise</div>
            <div class="row margin-top-5"><c class="bold creator-font">Rahul Kulkarni</c></div>
            <div class="row bold"><time class="creator-time-font"> 18 August</time></div>
            <div class="margin-top-36">
                <div class="no-border">
                    <div class="row">
                        <span><b class="bold">Subject: </b>Science</span>
                    </div>
                    <div class="row"><span><b class="bold">Batch:</b> Morning <b class="bold">Class:</b> 5th <b class="bold">Div:</b> B</span></div>
                    <div class="row"><span><b class="bold">Due Date:</b> 22 Aug 2015 </span></div>
                    <div class="row"><span><b class="bold">Homework Type:</b> Assignment</span></div>
                    <div class="row"><div class="col-90"><div class="margin-top-5"><b class="bold">Download: </b><b class="red-font"> Sci-Ch 04-05.pdf</b></div></div><i class="icon ion-android-download col-10 font-225"></i></div>
                </div>
            </div>
                    <div class="row">
                        <p class="margin-top-36 description-font"><b class="bold">Description</b><br>Error dicunt theophrastus cu qui. Ad eos simul possit option, adipisci principes sed at. Detracto adolescens pro ea, duo noLorem ipsum dolor sit amet, ea oblique constituam signiferumque eam. Pri adipisci maluisset te.Lorem ipsum dolor sit amet, ea oblique constituam signiferumque eam. Pri adipisci maluisset te.Lorem ipsum dolor sit amet, ea oblique constituam signiferumque eam. Pri adipisci maluisset te. </p>
                    </div>
        </div>
    </ion-content>
</ion-view>