<ion-view view-title="Compose Homework" name="hwcompose" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10">
                    <i class="icon ion-message"><span class="badge badge-assertive">1</span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bar bar-pink bar-header align-delete-bar">
        <iion-item class="row">
            <div class="row">
                <div class="col-10"  ng-click="myGoBack()">
                    <button class="button-clear">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div class="col-50 margin-top-5">
                    <span class="inner-header">Compose Homework</span>
                </div>
                <div class="col-20">
                    <a><i class="icon ion-android-attach align-attach"></i></a>
                </div>
                <div class="col-20">
                    <a><i class="icon ion-android-send align-delete-bin"></i></a>
                </div>
            </div>
        </iion-item>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="margin-top-48 padding-l-r-5">
        <div class="list">
            <div class="row">
                <div class="col-50 border-right">
                        <select class="item item-input item-select border-bottom">
                            <option selected class="padding-top-5">Class</option>
                            <option class="padding-top-5">Class I</option>
                            <option class="padding-top-5">Class II</option>
                            <option class="padding-top-5">Class III</option>
                        </select>
                </div>
                <div class="col-50 border-bottom">
                        <select class="item item-input item-select">
                            <option selected class="padding-top-5">Div</option>
                            <option class="padding-top-5">Div A</option>
                            <option class="padding-top-5">Div B</option>
                            <option class="padding-top-5">Div C</option>
                        </select>
                </div>
            </div>
            <label class="item item-input border-bottom">
                <input type="text" placeholder="+ Select Student" ng-click="openModal()">
            </label>
            <label class="item item-input border-bottom">
                <input type="text" placeholder="Subject">
            </label>
            <label class="item item-input">
                <textarea placeholder="Compose"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>



<script id="studentlist.html" type="text/ng-template">
    <div class="modal">
        <div class="modal-view">
            <ion-header-bar class="bar-pink">
                <div class="row">
                    <div class="col-50 col-offset-25 col-offset-r-25">
                        <h3 class="modal-title">Students List</h3>
                    </div>
                </div>
            </ion-header-bar>
            <ion-content has-bouncing="true">
                <div class="list">
                    <ion-item class="contact-list border-bottom">
                        <div class="row">
                            <div class="col-75">
                                <h2><strong>Select All</strong></h2>
                            </div>
                            <div class="col-25">
                                <ion-checkbox class="checkbox-square checkboxList checkbox-assertive modal-checkbox contact-list" ng-model="contactsAll" ng-click="checkAllcontacts()">
                                </ion-checkbox>
                            </div>
                        </div>
                    </ion-item>
                    <ion-item class="contact-list" ng-repeat="contct in contactList">
                        <div class="row">
                            <div class="col-75">
                                <h2><strong>{{contct.Name}}</strong></h2>
                            </div>
                            <div class="col-25">
                                <ion-checkbox class="checkbox-square checkbox-assertive contact-list modal-checkbox" ng-model="contct.Tick">
                                </ion-checkbox>
                            </div>
                        </div>
                    </ion-item>
                </div>
            </ion-content>
            <div class="bar bar-footer modal-bottom no-border">
                <div class="row">
                    <div class="col-25 col-offset-50 text-center">
                        <label class="modal-bottom-text-pink" ng-click="closeModal()">CANCEL</label>
                    </div>
                    <div class="col-25  text-center">
                        <label class="modal-bottom-text-pink" ng-click="closeModal()">OK</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>