<ion-view view-title="Detail View" name="detailspage" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10">
                    <i class="icon ion-message"><span class="badge badge-assertive">1</span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="bar bar-orange bar-header align-delete-bar">
        <iion-item class="row">
            <div class="row">
                <div class="col-10"  ng-click="myGoBack()">
                    <button class="button-clear">
                        <i class="ion-arrow-left-c button-back-white"></i>
                    </button>
                </div>
                <div class="col-50 margin-top-5">
                    <span class="inner-header">Leave Title</span>
                </div>
                <div class="col-25 margin-left-15">
                    <button class="button-balanced header-approve">
                     Approve
                    </button>
                </div>
            </div>
        </iion-item>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="margin-top-48 padding-l-r-5">
        <div class="list padding-l-r-5">
            <div class="row bold description-title-font">Sick Leave Application</div>
            <div class="margin-top-10">
                <div class="no-border margin-top-10 margin-bottom-10">
                <div class="row margin-top-5"><c class="bold creator-font">Rahul Kulkarni</c></div>
                <div class="row bold"><time class="creator-time-font"> 18 August</time></div>
                <div class="row"><b class="bold">Batch:</b> Morning<b class="bold margin-left-2">Class:</b> 5th <b class="bold margin-left-2">Div:</b> B</div>
                <div class="row"><span><b class="bold">Leave Type:</b> Full Day</span></div>
                    <div class="row"><span><b class="bold">Leave Form:</b> 22 Aug 2015 <b class="bold"> Leave Upto:</b>28 Aug 2015</span></div>
            </div>
            <div class="margin-top-36 description-font no-border padding-5">
                <p>Error dicunt theophrastus cu qui. Ad eos simul possit option, adipisci principes sed at. Detracto adolescens pro ea, duo noLorem ipsum dolor sit amet, ea oblique constituam signiferumque eam. Pri adipisci maluisset te.Lorem ipsum dolor sit amet, ea oblique constituam signiferumque eam. Pri adipisci maluisset te.Lorem ipsum dolor sit amet, ea oblique constituam signiferumque eam. Pri adipisci maluisset te. </p>
            </div>
            </div>
        </div>
    </ion-content>
</ion-view>