<ion-view view-title="Login" align-title="left" class="touch-effect login-bg-col no-scroll">
    <ion-content class="no-scroll">

        <div class="hero flat no-scroll">
            <div class="logo-align">
                <div> <img class="login-image" src="img/school-logo.png"/></div>
            </div>
        </div>
        <div class="children no-scroll">
            <form name="myForm" novalidate>
                <div class="padding">
                    <div class="list">
                        <label class="item item-input">
                            <input type="email" name="email" ng-model="email" ng-minlength="5" required placeholder="Username">
                        </label>
                        <p class="red-font" ng-show="myForm.email.$error.required">* Username is required</p>
                        <p class="red-font" ng-show="myForm.email.$invalid && !myForm.email.$pristine">* Username must be an email address</p>
                        <label class="item item-input">
                            <input type="password" name="password" ng-model="password" ng-minlength="6" required placeholder="Password">
                        </label>
                    </div>
                        <p class="red-font" ng-show="myForm.password.$error.required">* Password is required</p>
                        <p class="red-font" ng-show="myForm.password.$error.minlength">* Password must be longer than 6 characters</p>
                    <button class="button button-full button-balanced ink" ng-disabled="myForm.$invalid" ng-click="submit(email, password)" tabindex="3">Login</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
