<ion-view view-title="Login" align-title="left" class="touch-effect login-bg-col no-scroll ">
    <ion-content>
    <div class="children">
        <div class="hero no-header flat">
            <div class="content">                
                <h1>Veza</h1>
            </div>
        </div>
        <div class="padding">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Username" tabindex="1">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" tabindex="2">
          </label>
        </div>
            <button class="button button-full button-balanced ink" ng-click="signIn()" tabindex="3">Login</button>
        </div>
    </div>
    </ion-content>
</ion-view>
