<ion-content>
  <div class="bar bar-header bar-assertive">
    <div class="col-10"  ng-click="myGoBack()">
        <button class="button-clear">
            <i class="ion-arrow-left-c button-back-white"></i>
        </button>
        <h1 class="title">Images</h1>
    </div>
  </div>
  <ion-content style="margin-top:15%"  ng-repeat="image in images">
    <div class="row " ng-repeat="image in images" ng-if="$index % 3 === 0" >
        <div class="col col-33" ng-if="$index < images.length">
            <a >
                <figure>
                  <img  src="img/trial/{{images[$index]}}" width="100%" />
                  <figcaption>FOLDER NAME 1</figcaption>
                </figure>
            </a>
        </div>
        <div class="col col-33" ng-if="$index + 1 < images.length">
            <a >
                <figure>
                  <img  src="img/trial/{{images[$index+1]}}"  width="100%" />
                  <figcaption>FOLDER NAME 2</figcaption>
                </figure>
            </a>
        </div>
        <div class="col col-33" ng-if="$index + 2 < images.length">
            <a >
            <figure>
              <img  src="img/trial/{{images[$index+2]}}" width="100%" />
              <figcaption>FOLDER NAME 3</figcaption>
            </figure>
            </a>
    </div>
</ion-content>
