<div class="bar bar-header bar-assertive">
  <div class="col-10"  ng-click="myGoBack()">
      <button class="button-clear">
          <i class="ion-arrow-left-c button-back-white"></i>
      </button>
      <h1 class="title">Faculty Detail Information</h1>
  </div>
</div>
  <ion-content style="background-color: white ; margin-top:23%">
        <div align="center">
          <img src="img/parent.jpg" width="200px" hight="200px">
        </div>
        <div>
          <div class="item item-divider" >
            <font color="black">Designation: {{faculty.post}}</font>
          </div>
          <div class="item item-divider" >
            <font color="black">Name: {{faculty.name}}</font>
          </div>
        </div>
  </ion-content>
