<!-- <ion-content>
  <div class="bar bar-header bar-assertive">
    <div class="col-10"  ng-click="myGoBack()">
        <button class="button-clear">
            <i class="ion-arrow-left-c button-back-white"></i>
        </button>
        <h1 class="title">Images</h1>
    </div>
  </div>
  <ion-content style="margin-top:15%">
    <div class="row " ng-repeat="image in images" ng-if="$index % 3 === 0" ng-click="showImages($index)" >
        <div class="col col-33" ng-if="$index < images.length">
            <img src="img/trial/{{images[$index]}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 1 < images.length">
            <img src="img/trial/{{images[$index + 1]}}" width="100%" />
        </div>
        <div class="col col-33" ng-if="$index + 2 < images.length">
            <img src="img/trial/{{images[$index + 2]}}" width="100%" />
        </div>
    </div>
</ion-content> -->
<body>
    <ion-pane>
      <div class="bar bar-header bar-assertive">
        <div class="col-10"  ng-click="myGoBack()">
            <button class="button-clear">
                <i class="ion-arrow-left-c button-back-white"></i>
            </button>
            <h1 class="title">GALLERY</h1>
        </div>
      </div>
      <ion-content class="has-header padding" >
            <div class="row item item-list-detail" ng-repeat="image in images" ng-if="$index % 2 === 0" style="border-style: hidden !important">
              <div class="col col-50"  ng-if="$index < images.length" >
                <a class="item item-list-detail" style="height:100% !important; width: 100% !important;border-style: hidden !important"  >
                    <img  src="img/trial/{{images[$index]}}" style="width:100%;height:80% !important"/>
                    <!-- <video poster="img/ionic.png"class="image-list-thumb" ng-click="playVideo()"/> -->
                  <div style="align:center">
                    <center>FOLDER NAME {{$index}}</center>
                  </div>
                </a>
              </div>
              <div class="col col-50"  ng-if="$index+1 < images.length" >
                <a class="item item-list-detail" style="height:100% !important; width: 100% !important;border-style: hidden !important" >
                    <img  src="img/trial/{{images[$index+1]}}" style="width:100%;height:80% !important"/>
                  <div style="align:center">
                    FOLDER NAME {{$index+1}}
                  </div>
                </a>
              </div>
            </div>
      </ion-content>
    </ion-pane>
  </body>
