<ion-view view-title="heading-Details" align-title="left" class="touch-effect login-bg-col no-scroll">
      <div class="bar bar-header bar-assertive">
        <div class="col-10"  ng-click="myGoBack()">
            <button class="button-clear">
                <i class="ion-arrow-left-c button-back-white"></i>
            </button>
            <h1 class="title">Faculty Information</h1>
        </div>
      </div>
        <ion-content class="scroll direction:y" style="background-color: white ; margin-top:13%">
        <a>
          <div class="card" style="border: 1px solid #a2a2a2; height: 13%;" ng-repeat=" faculty in faculties"  ng-click="facultyInformationLanding({{faculties[$index].faculty_id}})">
            <div class="item item-avatar-left" >
              <img ng-src="{{faculty.faculty_image}}" alt="">
              <font size="3" color="black"><b>{{faculty.faculty_name}}</b></font>
              <br>
              <font color="black" >{{faculty.faculty_designation}}</font>

            </div>
          </div>
        </a>
          </ion-list>
            </div>
            </div>
          </div>
</ion-view>
