<ion-view view-title="public-about-us" align-title="left" class="touch-effect login-bg-col no-scroll">
    <ion-content class="scroll" style="background: url(img/login.jpg) center; background-size: cover;">
      <div class="col-10"  ng-click="myGoBack()">
          <button class="button-clear">
              <i class="ion-arrow-left-c button-back-white"></i>
          </button>
      </div>
      <ion-grid>
        <div class="card" style="padding:30px;text-align:center; background:#3cba54;word-wrap: break-word" ng-repeat="heading in header"  ng-click=headingLandingpage({{$index}})>
          <!-- <div class="item" > -->
          <span style='font-size:20px;color:#fff;font-weight:bold'>{{header[$index]}}</span>
          <!-- </div> -->
        </div>
        <div class="card" style="padding:30px;text-align:center; background:#f4c20d "ng-click="publicFacultyInformationLanding()">
          <div class="item ">
            <span style='font-size:20px;color:#fff;font-weight:bold'>Faculty Information</span>
          </div>
        </div>
        <div class="card" style="padding:30px;text-align:center; background:#db3236" ng-click="publicCommitteeLanding()">
          <div class="item ">
            <span style='font-size:20px;color:#fff;font-weight:bold'>Committee Members</span>
          </div>
        </div>
        <div class="card" style="padding:30px;text-align:center; background:#4885ed" ng-click="publicAboutUsLanding()">
          <div class="item">
            <span style='font-size:20px;color:#fff;font-weight:bold'>Contact Us</span>
          </div>
        </div>
      </ion-grid>
    </ion-content>
</ion-view>
