<ion-view view-title="heading-Details" align-title="left" class="touch-effect login-bg-col no-scroll">
      <div class="bar bar-header bar-assertive">
        <div class="col-10"  ng-click="myGoBack()">
            <button class="button-clear">
                <i class="ion-arrow-left-c button-back-white"></i>
            </button>
            <h1 class="title">{{header[headerID]}}</h1>
        </div>
      </div>
        <ion-content class="scroll" style="background-color: white ; margin-top:13%">
      <div class="">
        <p>Description will apper here</p>
      </div>
    </ion-content>
</ion-view>
