<ion-view view-title="Notification" name="sharedAchieve" class="touch-effect">
    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row padding-0">
        <div class="tabs tab-align-inner-inner tabs-striped tabs-light tabs-top tabs-icon-left">
            <a class="tab-item padding-5 col-50" ui-sref="app.sharedNotification">
                <i class="icon ion-annoncement"></i>
                <span class="annoncement-text">Announcement</span>
            </a>
            <a class="tab-item active-inner-black padding-5 col-50" ui-sref="app.sharedAchievement">
                <i class="icon ion-achievement-active"></i>
                <span class="achievement-text-active">Achievements</span>
            </a>
        </div>
    </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}"  padding="true" style="background-color:#c9d8ef">
       <div style="height:50px">
       </div>
        <ion-list class="item item-text-wrap">
            <ion-item class="card" style="background-color:white;padding:10px" ng-repeat="achievement in nmessages " >

                    <center><h2>{{achievement.title}}</h2></center>
                    <hr>
                    <p><h4>{{achievement.detail}}</h4></p>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
