<ion-view view-title="Shared Notification" name="sharedNotify" class="touch-effect">

    <div class="row padding-0">
        <div class="tabs-striped tabs-color-positive tabs-top">
            <div class="tabs tab-align-inner">
                <a class="tab-item margin-top-0">
                    <i class="icon ion-android-menu slide-button" ng-click="toggleLeftSideMenu()"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.notification">
                    <i class="icon ion-notify"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.dashboard">
                    <i class="icon ion-homie"></i>
                </a>
                <a class="tab-item margin-top-10" ui-sref="app.message">
                    <i class="icon ion-message"><span class="badge badge-assertive"></span></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row padding-0">
            <div class="tabs tab-align-inner-inner tabs-striped tabs-light tabs-top tabs-icon-left">
                <a class="tab-item active-inner-black padding-5 col-50" ui-sref="app.sharedNotification">
                    <i class="icon ion-annoncement-active"></i>
                    <span class="annoncement-text-active">Announcement</span>
                </a>
                <a class="tab-item padding-5 col-50" ui-sref="app.sharedAchievement">
                    <i class="icon ion-achievement"></i>
                    <span class="achievement-text">Achievements</span>
                </a>
            </div>
    </div>

    <ion-content ng-class="{expanded:$scope.isExpanded}" class="top-22" has-header="true">

    <h4>njndnjfnvjnvjnvjnvjjnvjnvjvjnjfnvjfjnf</h2>
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

<ion-item ng-repeat="item in items" class="notify-item-border padding-0"      item="item"  class="item-remove-animate">
          <div class="col-15">
              <ion-checkbox class="checkbox-square checkbox-assertive" ng-model="nMsg.Selected">
              </ion-checkbox>
          </div>
            Item {{ item.id }}

              <div class="col-66 msg-{{item.Status}}"  ng-click="announceDetails()">
                            <h2><strong> {{ item.Status }}</strong></h2>
                  <h2><strong>{{item.Subject}}</strong></h2>
                    <p>{{item.Message}}<br><strong><i class="font-italic ">{{item.Timestamp}}</i></strong></p>
              </div>
              <div class="col-5 col-offset-22 priority-{{nMsg.Priority}}">{{nMsg.Priority}}</div>
          </div>

  <ion-delete-button class="ion-minus-circled"
                     ng-click="onItemDelete(item)">
  </ion-delete-button>
  <ion-option-button class="button-assertive"
                     ng-click="edit(item)">
    Edit
  </ion-option-button>
  <ion-option-button class="button-calm"
                     ng-click="share(item)">
    Share
  </ion-option-button>
  <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
</ion-item>

</ion-list>

    </ion-content>
</ion-view>
